#skills{
    background-color:lightskyblue;
    padding-top:2%;
    padding-bottom: 2%;
}

h2{
    font-size: 50px;
}

#gitlink {
    height: 50px;
    width: auto;
    padding-top:10%;
    padding-left: 2%;
}