.App {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

/* --ming: #006d77ff;
--medium-turquoise: #63cccaff;
--amaranth: #da344dff;
--mimi-pink: #ffd6e0ff;
--royal-blue-dark: #0a1045ff; */