#footer {
    background-color:lightskyblue;
    display:flex;
    flex-direction:row;
    justify-content: center;
}

#gitlink {
    height: 50px;
    width: auto;
    padding-top:10%;
    padding-left: 2%;
}

#contactme{
    background-color:lightskyblue;
    display:block
}